<div class="container">
    <mat-card class="example-card" *ngFor="let item of productos ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{item.category}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.images[0]}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           {{item.description}}
          </p>
        </mat-card-content>
        <mat-chip-list aria-label="Fish selection">
          
            <mat-chip class="precio" color="secundary" selected>{{item.price}} €</mat-chip>
            <mat-chip color="accent" selected>Oferta!</mat-chip>
          </mat-chip-list>
          
        <mat-card-actions>
          <button class="sumar" mat-raised-button color="primary" (click)="agregar(item)">Add</button>
         
        </mat-card-actions>
      </mat-card>
      
</div>